{% extends "track_base.html" %}

{% block img %}background3.jpg{% endblock %}

{% block title0 %}The Devil's{% endblock %}
{% block title1 %}Gun{% endblock %}

{% block date %}--------{% endblock %}

{% block artist %}RAISING BEAST{% endblock %}
{% block artist_on_hover %}RAISING BEAST{% endblock %}

{% block img1 %}Release3.jpg{% endblock %}

{% block img2 %}Release3.jpg{% endblock %}

{% block color1 %}yellow{% endblock %}
{% block color2 %}yellow{% endblock %}
{% block color3 %}yellow{% endblock %}
{% block color4 %}yellow{% endblock %}
{% block color5 %}yellow{% endblock %}