{% extends "track_base.html" %}

{% block img %}background1.jpg{% endblock %}

{% block title0 %}LEVEL{% endblock %}
{% block title1 %}DAYS{% endblock %}

{% block date %}May 13,2022{% endblock %}

{% block artist %}CONRO{% endblock %}
{% block artist_on_hover %}CONRO{% endblock %}

{% block img1 %}music-6885066_960_720.jpg{% endblock %}

{% block img2 %}music-6885066_960_720.jpg{% endblock %}

{% block color1 %}purple{% endblock %}
{% block color2 %}purple{% endblock %}
{% block color3 %}purple{% endblock %}
{% block color4 %}purple{% endblock %}
{% block color5 %}purple{% endblock %}