{% extends "track_base.html" %}

{% block img %}background2.jpg{% endblock %}

{% block title0 %}Memories{% endblock %}

{% block date %}--------{% endblock %}

{% block artist %}MUST{% endblock %}
{% block artist_on_hover %}MUST{% endblock %}

{% block img1 %}Release2.webp{% endblock %}

{% block img2 %}Release2.webp{% endblock %}

{% block color1 %}#ff009e{% endblock %}
{% block color2 %}#ff009e{% endblock %}
{% block color3 %}#ff009e{% endblock %}
{% block color4 %}#ff009e{% endblock %}
{% block color5 %}#ff009e{% endblock %}